
body{
    margin: 0;
}

.video{
    position: relative;
}

.video > div{
    position: absolute;
    top: 200px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.701);
    left: 30vw;
    padding: 2rem;
    border-radius: 10px;
}

.para{
    background: rgb(52, 50, 50);
    color: rgb(251, 232, 232);
    padding: 2rem;
}

.img1, .img2, .img3, .img4{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    background: url(images/pic1.avif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.img2{
    background: url(images/pic2.avif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.img3{
    background: url(images/pic3.avif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.img4{
    background: url(images/pic4.avif) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    background: rgba(0, 0, 0, 0.784);
    color: rgb(160, 170, 14);
    font-size: 3rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
